.modal {
    width: 90% !important;
    max-height: 80% !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.img_preview {
    border: 2px dashed #5e5e5e;
    max-height: 100px;
    min-height: 100px;
}

h6 {
    line-height: 130% !important;
}